.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.hero .logo {
  width: 600px;
}
.hero h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: white;
  margin: 50px;
}
.hero span {
  background-color: white;
  color: darkviolet;
  padding: 10px;
}
.hero button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkviolet;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.hero button img {
  width: 30px;
  margin-left: 10px;
}

.hero button:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hero .logo {
    width: 300px;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero span {
    padding: 2px;
  }
}

@media screen and (max-width: 1024px) {
  .hero .logo {
    width: 400px;
  }
}
