.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  background-color: rgba(162, 153, 153, 0.559);
}
.services h1 {
  text-align: center;
}
.services h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 100px;
}
.service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.servic {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.servic img {
  background-color: rgba(29, 4, 40, 0.908);
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servic h2 {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(29, 4, 40, 0.908);
  margin: 40px auto;
}
.servic p {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
}
