.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(162, 153, 153, 0.559);
}
.services h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 100px;
}
.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  margin: auto 10%;
}
.servic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servic img {
  background-color: rgba(29, 4, 40, 0.908);
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servic h2 {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(29, 4, 40, 0.908);
  margin: 40px auto;
}
.servic p {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
}
