nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  overflow: hidden;
  /* background-color: rgba(245, 245, 245, 0.934); */
  background-color: transparent;
  box-shadow: 2px 2px 5px rgb(134, 131, 131);
  transition: 0.3s;
}
nav .logo {
  width: 110px;
  margin: 15px 70px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
nav ul li a {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(120, 63, 176, 0.683);
  transition: 0.5s;
}
nav ul li:hover {
  color: rgba(69, 11, 127, 0.683);
  transform: scale(1.05);
  transition: 0.2s;
}

nav .dark-theme {
  margin: 15 70px;
}

@media screen and (max-width: 768px) {
  nav .logo {
    display: none;
  }
  nav ul {
    gap: 30px;
    margin: 5px 10px;
  }
}
