* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
p {
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.4;
}
hr {
  background-color: rgb(65, 10, 89);
  height: 10px;
  margin: 40px auto;
}
