.partners {
  background-color: rgba(162, 153, 153, 0.559);
}
.partners h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 40px auto;
  padding: 40px 0px;
}
.partners ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.partners ul div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners ul div li {
  margin: 10px 20px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .partners h1 {
    font-size: 3rem;
  }
  .partners ul div {
    flex-wrap: wrap;
  }
  .partners ul li img {
    width: 120px;
  }
}
@media screen and (min-width: 768px) {
  .partners h1 {
    font-size: 3rem;
  }
  .partners ul div {
    flex-wrap: wrap;
  }
  .partners ul li img {
    width: 150px;
  }
}
